{{ extends 'global/Page.html' }}
{{ block title }}Please select a threshold D.{{ endblock }}

{{ block content }}

<h3>
    This is round {{ subsession.round_number }} of {{ C.NUM_ROUNDS }}.
</h3>


{{ if participant.scenario == "breakdown" }}
<p>
    You want to predict breakdowns of 10 machines in the next 48 hours with the aid of an AI algorithm.
    In the training set that is used to train the AI algorithm, out of a sample of <span style="font-size: 150%; "><b>{{ abs }}</b></span> machines, <span style="font-size: 150%; "><b>{{ player.n_P }}</b></span> broke down in the subsequent 48 hours and <span style="font-size: 150%; "><b>{{ player.n_N }}</b></span> machines did not break down.
    For the 10 machines you want to predict breakdowns for, you can expect the same distribution of machines with and without breakdown in the next 48 hours as in the training set.
</p>
{{ else }}
<p>
    You want to predict complaints about delivery delays of 10 customers with the aid of an AI algorithm.
    In the training set that is used to train the AI algorithm, out of a sample of <span style="font-size: 150%; "><b>{{ abs }}</b></span> customers, <span style="font-size: 150%; "><b>{{ player.n_P }}</b></span> complaint about a delivery delay and <span style="font-size: 150%; "><b>{{ player.n_N }}</b></span> customers did not complain.
    For the 10 customers you want to predict complaints for, you can expect the same distribution of customers with and without complaint as in the training set.
</p>
{{ endif }}
<p>
    We expect misclassification costs of <span style="font-size: 150%; "><b>{{ player.c_FP }}</b></span> cost unit(s) for each False Alarm and <span style="font-size: 150%; "><b>{{ player.c_FN }}</b></span> cost unit(s) for each Missed Hit, respectively.
</p>

<p>
    You can calibrate the AI algorithm by selecting a threshold D.
    Depending on your threshold selection, you see a matrix with prediction outcomes on the training set.
    If you need more help, please click the button "Need Help?" below to display a graphical visualization, which is free to use.
</p>

<p>
    Move the slider to select a threshold D (between 0 and 1) for this round.
</p>

<input type="range" min="0" name="selected_threshold" max="100" step="1" style="width: 500px;" onclick ="sliderMoved(this)" oninput="updateThreshold(this);updateTP(this);updateFN(this);updateFP(this);updateTN(this);updateFNC(this);updateFPC(this);updatePay(this)" >

{{ formfield_errors 'selected_threshold'}}

<p id="threshold"></p>

<!-- by leaving the threshold (and the results) blank initially, we prompt the user to move the slider, reducing the anchoring/default effect. -->

<table id="confusionmatrix" cellpadding="4px" border="1px">
    <caption align="right">Prediction Outcomes (on Training Set)</caption>
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th colspan="2" style="text-align: center">Predicted State</th>
        </tr>
    </thead>
    <tbody>
        <tr>
           <td></td>
           <td></td>
           <td>{{ if participant.scenario == "breakdown" }}Breakdown{{ else }}Complaint{{ endif }}</td>
           <td>No {{ if participant.scenario == "breakdown" }}Breakdown{{ else }}Complaint{{ endif }}</td>
       </tr>
       <tr>
           <td rowspan="2"><b>Actual State</b></td>
           <td>{{ if participant.scenario == "breakdown" }}Breakdown{{ else }}Complaint{{ endif }}</td>
           <td id="tp" style="color:green"></td>
           <td id ="fn" style="color:red"></td>
       </tr>
       <tr>
           <td>No {{ if participant.scenario == "breakdown" }}Breakdown{{ else }}Complaint{{ endif }}</td>
           <td id ="fp" style="color:red"></td>
           <td id ="tn" style="color:green"></td>
       </tr>
    </tbody>
</table>

<button type="button" id="help_button" name="help_button" onclick="showHelp(this);track(this)">
    Need Help?
</button>

<input type="hidden" id="clicked_help" name="clicked_help" />

{{ formfield_errors 'clicked_help'}}

<input type="hidden" id="moved_slider" name="moved_slider" />

{{ formfield_errors 'moved_slider'}}

<div id="help" name="help"></div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div id="myPlot" style="width:100%"></div>

<script>
var fns = "Math.round((x * 20) * Math.pow({{ baseP }}, x))";
var fps = "Math.round(((-x + 1)* 20) * Math.pow({{ baseN }}, (-x + 1)))";
var cost = "{{ player.c_FN }} * Math.round((x * 20) * Math.pow({{ baseP }}, x)) + {{ player.c_FP }} * Math.round(((-x + 1)* 20) * Math.pow({{ baseN }}, (-x + 1)))";
var fncost = "{{ player.c_FN }} * Math.round((x * 20) * Math.pow({{ baseP }}, x))";
var fpcost = "{{ player.c_FP }} * Math.round(((-x + 1)* 20) * Math.pow({{ baseN }}, (-x + 1)))";
// Generate values

var x1Values = [];
var x2Values = [];
var x3Values = [];
var x4Values = [];
var x5Values = [];
var y1Values = [];
var y2Values = [];
var y3Values = [];
var y4Values = [];
var y5Values = [];

for (var x = 0; x <= 1; x += 0.01) {
  x1Values.push(x);
  x2Values.push(x);
  x3Values.push(x);
  x4Values.push(x);
  x5Values.push(x); 
  y1Values.push(eval(fns));
  y2Values.push(eval(fps));
  y3Values.push(eval(cost));
  y4Values.push(eval(fncost));
  y5Values.push(eval(fpcost));
}

// Define Plot Data
var data = [
  {x: x1Values, y: y1Values, mode:"lines", name:"Number of Missed Hits"},
  {x: x2Values, y: y2Values, mode:"lines", name:"Number of False Alarms"},
  {x: x4Values, y: y4Values, mode:"lines", name:"Costs for<br>Missed Hits"},
  {x: x5Values, y: y5Values, mode:"lines", name:"Costs for<br>False Alarms"},
  {x: x3Values, y: y3Values, mode:"lines", name:"Total Costs for<br>incorrect predictions"}
];

//Define Plot Layout
var layout = {
    title: "Prediction Outcomes and Costs [cost units] for Incorrect Predictions on Training Set",
    xaxis: {title: "Threshold D"}
};

// Display Plot using Plotly
let help = document.getElementById('help');
function showHelp() {
    help.innerHTML = Plotly.newPlot("myPlot", data, layout);
}
//check whether Help is clicked
var clicks = 0
function track() {
    clicks += 1;
    document.getElementById('clicked_help').value = clicks;
}

//check whether slider is moved
var moves = 0
function sliderMoved() {
    moves += 1;
    document.getElementById('moved_slider').value = moves;
}

</script>   


<script>
    let threshold = document.getElementById('threshold');
    function updateThreshold(input) {
        let theta = parseInt(input.value);
        let th = theta/100;
        threshold.innerHTML = `Your selected threshold is ${th}.` //<br /> Your overall cost is ${cost}. <br /> Your accuracy is ${accr}. <br /><br /> <i>+++ Below text needs to be removed!!! +++ <br /> The optimal threshold is ${thOpt}. <br /> This leads to optimal costs of ${costOpt}. <br /> Therefore, your bonus payoff for this round will be ${pay}!</i>
    };
    let tp = document.getElementById('tp');
    function updateTP(input) {
        let tptheta = parseInt(input.value);
        let tpth = tptheta / 100;
        let tpcalc = {{ player.n_P }} - Math.round((tpth * 20) * Math.pow({{ baseP }}, tpth));
        tp.innerHTML = `${tpcalc}`   
    };
    let fn = document.getElementById('fn');
    function updateFN(input) {
        let fntheta = parseInt(input.value);
        let fnth = fntheta / 100;
        let fncalc = Math.round((fnth * 20) * Math.pow({{ baseP }}, fnth));
        fn.innerHTML = `${fncalc}`
    };
    let fp = document.getElementById('fp');
    function updateFP(input) {
        let fptheta = parseInt(input.value);
        let fpth = fptheta / 100;
        let fpcalc = Math.round(((-fpth + 1)* 20) * Math.pow({{ baseN }}, (-fpth + 1)));
        fp.innerHTML = `${fpcalc}`   
    };
    let tn = document.getElementById('tn');
    function updateTN(input) {
        let tntheta = parseInt(input.value);
        let tnth = tntheta / 100;
        let tncalc = {{ player.n_N }} - Math.round(((-tnth + 1)* 20) * Math.pow({{ baseN }}, -tnth + 1));
        tn.innerHTML = `${tncalc}`   
    };
    let fnc = document.getElementById('fnc');
    function updateFNC(input) {
        let fnctheta = parseInt(input.value);
        let fncth = fnctheta / 100;
        let fncost = {{ player.c_FN }} * Math.round((fncth * 20) * Math.pow({{ baseP }}, fncth));
        fnc.innerHTML = `${fncost}`
    }
    let fpc = document.getElementById('fpc');
    function updateFPC(input) {
        let fpctheta = parseInt(input.value);
        let fpcth = fpctheta / 100;
        let fpcost = {{ player.c_FP }} * Math.round(((-fpcth + 1)* 20) * Math.pow({{ baseN }}, (-fpcth + 1)));
        fpc.innerHTML = `${fpcost}`
    }
</script>

<br />

<p> Remember: Your maximum bonus payoff for this round is 50 cost units.
    It will be reduced by the misclassification costs realized for the 10 {{ if participant.scenario == "breakdown" }}machines{{ else }}customers{{ endif }}.
    The bonus will not become negative.
    You will receive information about your performance and the respective bonus payoff after the last round.
</p>

<p> Please click next to confirm your selection and move to the next round. <p/>

{{ next_button }}

{{ endblock }}
